.x{

    margin: 5px;
    display:flex;
    align-items: center;
    align-content: center;
    overflow: auto;
    justify-content: center;
}
.div1
{
  display: flex;
    width: 900;
    margin-left: auto;
    margin-right: auto;
}

.Authorimage
{
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.card1
{
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}   
.x2
{
  margin-top: 5px;
}
.example-full-width
{
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}